.h1{
    color: black;
     margin-top: 100px; padding-left: 60px;

}

.bb{
    background-color: black; 
    color:white;
}
.maindiv1{
    padding: 30px;
     margin-top: 30px;
      margin-right: 1230px; 
       border-style: solid; 
       border-color: black; 
       border-width: thin;
}
